{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/add_bounty.css' %}">

</head>

<body>

  <h3 class="mt-5 mb-5 text-uppercase text-center">Add Bounty</h3>
  <form method="post" class="container" action="{% url 'add_bounty' %} ">
  {% csrf_token %}
  
  <div class=" row mb-3">
    <label for="title" class="form-label col-md-2 text-end">Title</label>
    <div class="col-md-10">
      {{ form.Title }}
    </div>
    </div>

    <div class="row mb-3">
      <label for="description" class="form-label col-md-2 text-end">Description</label>
      <div class="col-md-10">
        {{ form.description }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="url" class="form-label col-md-2 text-end">URL</label>
      <div class="col-md-10">
        {{ form.url }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="start_date" class="form-label col-md-2 text-end">Start Date</label>
      <div class="col-md-10">
        {{ form.start_date }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="end_date" class="form-label col-md-2 text-end">End Date</label>
      <div class="col-md-10">
        {{ form.end_date }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="min_reward" class="form-label col-md-2 text-end">Minimum Reward</label>
      <div class="col-md-10">
        {{ form.min_reward }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="max_reward" class="form-label col-md-2 text-end">Maximum Reward</label>
      <div class="col-md-10">
        {{ form.max_reward }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

</body>
<!-- <form method="post"></form>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Bounty</button>
</form> -->