<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% block style%}
    {% endblock%}
</head>
<body>
    

<h1>admin dashboard</h1>
<div class="">
    <ul>
    <li><a href="{% url 'user_list' %}">Users</a></li>
    <li><a href="{% url 'orgs_list' %}">Organizations</a></li>
    <li><a href="{% url 'approval_requests' %}">Pending Requests</a></li>
</ul>
    
  </div>
  {% block content %}
  
{% endblock %}
</body>