{% load static %}
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <div class="footer">
        <div class="footer-content">
            <span>© YesWeHack 2024</span>
            <a href="#" class="underline">Legal notices</a>
            <a href="#">General Conditions of Use</a>
            <a href="#">Platform privacy policy</a>
            <a href="#" class="external-link">Contact us <i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>
</body>
</html>