{% extends 'admin_dashboard.html' %}

{% block style %}
{% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
{% endblock %}


{% block content %}

<body>
    <div class="container mt-5">
        <div class="header mb-4">
            <h1 class="text-center">Organizations</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Organization Name</th>
                        <th>Email</th>
                        <th>Website Link</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org in orgs %}
                    <tr>
                        <td>{{org.id}}</td>
                        <td>{{org.company_name}}</td>
                        <td>{{org.email}}</td>
                        <td><a href="{{org.company_website}}" target="_blank">{{org.company_website}}</a></td>
                        <td>{{org.user_type}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js for full functionality -->
    
</body>




{% endblock %}